 <div class="container-fluid">
   <div class="row">
     <div class="col-md-3 d-flex flex-column align-items-center py-3">
       <img class="mb-4" [src]='user.avatar_url' alt="Git Them Logo" />
       <div class="wafuasi">
         <span class="badge badge-primary mr-1">Followers {{user.followers}}</span>
         <span class="badge badge-success mr-1">Following {{user.following}}</span>
       </div>
       <h3 class="font-weight-bold"> {{user.name}} </h3>
       <h4> @{{user.login}} </h4>
       <a class="btn btn-light btn-block" [href]='user.html_url' target="blank"> View Profile </a>
     </div>
     <div class="col-md-8 py-3">
       <div class="row justify-content-center">
         <div class="col-md-6" *ngFor='let repo of repos'>
           <div class="card mb-4 box-shadow" style="min-height: 200px;">
             <div class="card-body d-flex flex-column align-items-start">
               <h3 class="mb-2"> <a class="text-dark" target='blank' [href]='repo.html_url'> {{repo.name}} </a> </h3>
               <span class="mb-2 text-muted"> {{repo.created_at}} </span>
               <p class="card-text"> {{repo.description}} </p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
