<div class="d-flex">
  <form class="form-signin m-auto" (ngSubmit)="onSubmit(name.value); name.reset()">
    <div class="text-center mb-4">
      <div class="mb-4 alert alert-success" *ngIf='userFound'> Username was successfully found! </div>
      <img class="mb-4" src="../../assets/images/user.jpg" alt="Git Them Logo" />
      <h3 class="mb-4 font-weight-normal"> Git Them Users </h3>
      <p> Enter a GitHub username and submit it to see the names and descriptions of that user's public repositories
      </p>
    </div>
    <div class="form-label-group">
      <input class="form-control" type="text" name="name" ngModel #name='ngModel' placeholder="Username" required autofocus />
      <label> Username </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit </button>
  </form>
</div>
